*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;

}

body{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: flex-start;

}
 /*        HEADER       */

.header {
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        transition: top 0.3s;
        background-color: hsla(0, 0%, 0%);
        z-index: 1000; 
    }
.header.visible {
    top: 0;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 4rem;
}
.navitem{
    list-style-type: none;
    
}
.navitem a{
    text-decoration: none;
    color: hsl(46, 88%, 53%); 
    gap: 30px; 
    padding: 30px;
    width: 100%;
    display: block;
}
.navitem a:hover{
    background-color: rgb(19, 19, 19);
    color: rgb(255, 208, 0);
    transition: 0.5s ease;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:rgb(255, 208, 0);
}
 /*        MAIN       */
.text-video{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: hsla(0, 0%, 0%, 0.980);
    padding: 30px 45px;
    align-items: center;
    gap: 40px;
    padding-top: 100px;
}
.text{
    width: 50%;
    color: rgb(255, 208, 0);
    text-align: center;
    font-size: 1.5rem;
}
.video{
    width: 50%;
}
.video video{
    width: 100%;
    border-radius: 20px;
}

.elements{
    width: 100%;
    display: flex;
    padding: 25px 10px;
}
.element{
    margin: 10px 10px ;
    padding: 20px;
    min-width: 32%;
    max-width: 90%;
    border: 2px solid;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}
.element li{
    text-align: left;
}
.element img{
    width: 50%;
    height: 45%;
    margin: 10px 10px;
    border-radius: 20px;
}
.element button{
    font-size: 2rem;
    margin-top: 20px;
    border-radius: 20px;
}
.element a{
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
}
.element a:hover{
    background-color: black;
    color: rgb(255, 208, 0);
    transition: 0.3s ease-in-out;
}
.services-container{
    width: 100%;
    font-size: 1.2rem;
    padding: 50px 20px;
    margin: 10px 10px;
}
.services-container h1{
    text-align: center;
    padding-bottom: 50px;
}
.service-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}
.service1{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.service1 img{
    width: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.850);
    
}
.service1 li{
    list-style-type: none;
}
.service2{
    width: 70%;
    text-align: center;
}
.service3{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 100px;
}
.service3-block{
    text-align: center;
    width: 40%;
}
.service3-image{
    width: 40%;
    text-align: right;
}
.service3 img{
    width: 200px;
    border-radius: 100px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.850);
    
}
.service3 li{
    list-style-type: none;
}
.aboutUs{
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboutUs h1{
    text-align: center;
    padding: 30px;
}
.About-Us{
    border: 5px solid;
    border-radius: 20px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 15px;
}
.about-pars{
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 15px;
}
/*      Checkout      */
.checkout{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.h2-logo{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.checkout-container{
    width: 1150px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.checkout-container h4{
    text-align: left;
    padding: 10px 10px;
}
.billing-info{
    display: flex;
    width: 70%;
    border: 1px dotted rgba(196, 196, 196, 0.384);
    border-radius: 20px;
    padding: 20px 10px;
    gap: 10px;
    height: 500px;
}
.billing{
    width: 60%;
}
/*      INPUT       */
.input-container{
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.input-container input{
    margin-bottom: 20px;
    width: 320px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(148, 148, 148, 0.384);
    padding: 10px 15px;
    background: transparent;
    transition: 0.2s ease;
    z-index: 1111;

}
.entryarea{
    position: relative;

}
.labelline{
    position: absolute;
    font-size: 16px;
    top: 2px;
    left: 50px;
    margin: 10px 10px;
    padding: 0px 0px;
    transition: 0.2s ease;
    background-color: white;
    text-align: left;
}
.input-container input:hover {
    border-color: rgba(37, 37, 37, 0.842);
    transition: 0.15s;
}
.input-container input:focus, input:valid {
    border-color: rgba(116, 219, 19, 0.89);
    outline: none;
}
.input-container input:focus + .labelline, 
                 input:valid + .labelline {
    color: rgba(116, 219, 19, 0.89);
    height: 30px;
    line-height: 30px;
    transform: translate(-2px, -30px);
    z-index: 1112;
}

.payment-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
}
#info{
    border: 1px solid rgba(148, 148, 148, 0.384);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 25px;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}
#info li{
    margin: 2px;
}
.payment{
    width: 100%;
    border: 1px solid rgba(148, 148, 148, 0.384);
    border-radius: 10px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
}
.payment img{
    width: 90px;
    cursor: pointer;
}
.visa-dina{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rai-idcheck{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary{
    width: 30%;
    background-color:rgba(244, 246, 248, 0.925);
    border-radius: 15px;
    padding: 30px 30px;
}
.summary hr{
    border: 1px dotted rgba(194, 193, 193, 0.616);
}
.checkout-paragraph {
    font-size: 15px;
    font-weight: bold;
    padding: 0px 10px;
}
.checkout-summary-elems{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#basic{
    background-color: rgb(216, 65, 6);
    padding: 4px 10px;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    font-size: 14px;
}
#ot-price{
    display: flex;
    justify-content: right;
    align-items: center;
}
.payment-bank{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
}
.payment-bank button{
    width: 85%;
    font-size: 1.2rem;
    align-self: center;
    border: none;
    background-color: rgba(221, 218, 218, 0.815);
    border-radius: 10px;
    padding: 15px 15px;
    cursor: pointer;
}
.secure-payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}
.green-sheild{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
 /*        FOOTER       */
footer{
    background-color: hsla(0, 0%, 0%);
}
.footer{
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 208, 0);
}
.footerLinks{
    display: flex;
    padding-left: 20px;

}
.footerNavItem{
    list-style-type: none;
    margin: 5px;
}
.footerNavItem a{
    text-decoration: none;
    color: hsl(46, 88%, 53%); 
}
.footerNavItem a:hover{
    color: hsl(39, 100%, 50%); 
}

/*         MEDIA        */

@media (max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8.8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8.8px) rotate(-45deg);
    }
    header{
        position: fixed;
        width: 100%;
    }
    .navMenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color: hsla(0, 0%, 0%);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .navitem{
        padding: 10px;
        width: 100%;
    }
    .navMenu.active{
        left: 0;
    }
    .text-video{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .text{
        width: 100%;
    }
    .video{
        width: 100%;
    }
    .elements{
        display: block;
    }
    .element{
        max-width: 100%;
    }
}

